 <div class = "container" align = "center">
  <h1> <u> Creating a Dropdown List </u> </h1>
  <label>Fruits</label> 
  <select > 
      <option>Choose</option> 
      <option src = "assets/images.jpg"> Apple</option>
      <option src = "assets/orange.jpg"> Orange</option>
      <option href = "assets/mango.jpg"> Mango </option>
      <option href = "assets/banana.jpg"> Banana </option>
      <option href = "assets/pomo.jpg"> pomogranate </option>
  </select>
  <button type = "button" src = "test/test.component.html">Submit</button> 
  <h3 > </h3>
      </div>
 