<div class  = "Container"> 
    <h2> Animal Image</h2>
<input list = "plan" type = "text"/> 
<datalist id = "plan" ng-Model = "" > 
    <option value = "Lion">Lion </option> 
    <option value = "Tiger" >Tiger</option>
    <option value = "Cat">Cat</option> 
</datalist>

<br> <br> 
<button >Submit</button>
    </div> 
    
   
      
<!-- <select id="mySelect" onChange="check(this);">
    <option type  = selected disabled>Choose ME </option>
    <option>Frank</option>
    <option>George</option>
    <option>Other</option>
</select>
 <div id="other-div">
    <label>Enter your Name
     <input id="other-input">
    </label>
</div> -->
<!-- <div class = "Container">
    <input type = "text" list = "plan">
    <datalist id = "plan">
        <option value="">-- Select city -- </option>
  <optgroup label="Europe">
    <option value="paris">Paris</option>
    <option value="london">London</option>
    <option value="madrid">Madrid</option>
  </optgroup>
  <optgroup label="Asia">
    <option value="bangkok">Bangkok</option>
    <option value="manila">Manila</option>
    <option value="jakarta">Jakarta</option>
  </optgroup>
 </datalist>
 <button>Submit</button> 
 <img src = "{{result}}"> 
</div> -->