 <div class = "container">
  <fieldset>
    <legend> Registration Form</legend>
  <form class = "bus" action = > 
    <label>Name : </label><input type = "text" placeholder = "Enter your Name"/>
    <label >Last Name : </label><input type = "text" placeholder = "Enter your Lastname"/>
    <br> <br> 
    <label>Email : </label><input type = "email" placeholder = "Enter your college mail-id"/>
    <br> <br> 
    <label>Department : </label><select> 
      <option value = ""selected disabled hidden>Choose Me</option> 
      <option value  = "1">EIE</option>
      <option value = "2">IT</option>
      <option value  = "3">ECE</option>
      <option value = "4">EEE</option>
      <option value  = "5">CSE</option>
      <option value = "6">ISE</option>
    </select>
    <br> <br> 
    <label>Address : </label><input type = "text" size = "100" placeholder = "Enter your permanent Address"/>
    <br> <br> 
    <label>Gender : </label><input type = "radio" name = "guna">Male <input type = "radio" name = "guna">Female
    <br> <br>
    <datalist> 
      <optgroup label = "INDIA">

        <option value = 1> TamilNadu </option>

      </optgroup>
    </datalist>
  </form> 
  </fieldset>

</div> 