<div class  = "bus">
  <h2> Calculator</h2> 
<br> 
<br> 
<div class = "container">
  Input01 : <input #id1 type = "number" value = "id1.value">
 <br>
  Input02 : <input #id2 type = "number" val02 = "id2.value">
  <br> 
  <br> 
  <button type = "button" (click) = "Add()">Add </button>
<button type = "button" (click) = "Sub()">Sub</button>
<button type = "button" value = "Multi()">Multiply</button> 
<button type = "button" value = "Divide()">Divide</button>  
Result : {{id1.value + id2.value}};

</div> </div> 